.el-message {
    max-width: 66%;
    width: max-content;
    min-width: 0 !important;
    padding: 14px 24px 14px 20px !important;
    border-radius: 10px !important;

    .el-message__content {
        line-height: 1.5;
        text-align: center;
    }

    &--info {
        i {
            color: @purple;
        }
    }

    &--success {
        i {
            color: @green;
        }
    }

    &--warning {
        i {
            color: @yellow;
        }
    }

    &--error {
        i {
            color: @red;
        }
    }
}

.el-message-box__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .el-message-box {
        max-width: 80%;
        padding-bottom: 14px;

        .el-message-box__title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .el-message-box__content {
            padding-top: 0;
            padding-bottom: 0;
        }

        .el-message-box__btns {
            display: flex;
            padding-top: 10px;

            .el-button {
                flex: 1;
            }
        }

    }
}

.el-loading-mask {
    .el-loading-spinner {
        margin-top: 0;
        transform: translateY(-50%);
    }
}