#root {
    padding: 1.2rem;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    padding-top: var(--safe-area-inset-top);
    padding-bottom: calc(constant(safe-area-inset-bottom) + 3rem);
    padding-bottom: calc(env(safe-area-inset-bottom) + 3rem);
    position: relative;

    &::after,
    &::before {
        position: fixed;
        content: "";
        width: 400px;
        height: 400px;
        left: 0;
        top: 0;
        transform: translate(-30%, calc(-70% + constant(safe-area-inset-top)));
        transform: translate(-30%, calc(-70% + env(safe-area-inset-top)));
        background: radial-gradient(circle at center, @purple, #fff0 70%);
        z-index: -999;
    }

    &::after {
        left: auto;
        right: 0;
        transform: translate(30%, calc(-70% + constant(safe-area-inset-top)));
        transform: translate(30%, calc(-70% + env(safe-area-inset-top)));
        background: radial-gradient(circle at center, @pink, #fff0 70%);
    }
}